form > * {
    margin: 5px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 200px;

}

input {
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
}

input:invalid {
    border-color: red;
}
